@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    /*font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;*/
    box-sizing: border-box;
    background-image: linear-gradient(to right, #022150 ,#5e00b5);
    font-family: 'Ubuntu', sans-serif;
}

ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

/* Aqui começa o Header */

header{    
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #160b38;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

nav .navbar{
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    align-content:stretch;
    padding: 0 50px;
}

nav .navbar .logo {
    display: flex;
    flex:30%;
}

nav .navbar .logo a{
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

nav .navbar .nav-links{
    height: 100%;
    line-height: 70px;
}

fieldset {
    width:min-content;
    display: inline-block;
    
}
.ender {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex:30%;


}

.pre-ender {
    display: flex;
    flex:100%;
    justify-content: center;
}

nav .navbar .nav-links .links{
    display: flex;

}

nav .navbar .nav-links .home2{
   font-size: 20px;
}

nav .navbar .nav-links .links li{
   position: relative; 
   display: flex;
   align-items: center;
   padding: 0 14px;
   list-style: none;
    
}
nav .navbar .nav-links .links li a{
    color: white;
    white-space: nowrap;
    text-decoration: none;
}

.aa {
    display: flex;
    flex-wrap: wrap;
   position: relative;
   float: right;
}

.navbar .nav-links .links .submenuprincipal{
    position: absolute;
    top: 70px;
    left: 0;
    background: #004395;
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    display: none;
}

.navbar .nav-links .links .submenuprincipal li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.25);
}

.navbar .nav-links .links .perfilsubmenu li a{
    color: white;
    cursor:pointer;
    font-size: 15px;
    font: 500;
}

.navbar .nav-links .links li:hover .perfilsubmenu{
    display: block;
    z-index: 50;
}

.bx-cart{
    font-weight: 50;
    color: white;
    font-size: 45px;
}
.bx-user-circle{
    color: white;
    font-size: 45px;
}

.navbar .search-box{
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .search-box .bx-search{
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 45px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 0 14px;

}

.navbar .search-box .input-box{
    border-color: rgba(0,0,0,0.3);
    border-width:medium;
    border-style: solid;
    box-shadow: 5px 5px 5px black;
    height: 60px;
    width: 300px;
    background-color: #004395;
    position: absolute;
    top: 65px;
    right: calc(100% - 45px);
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.navbar  .input-box.showInput{
    opacity: 1;
    pointer-events: auto;
    top: 65px;
    z-index: 1000;
}

.navbar .search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    background-color: #004395;
    width: 20px;
    right: 10px;
    top: -6px;
    transform: rotate(45deg); 
}

.navbar .search-box .input-box input{
    position: absolute;
    width: 250px;
    height: 35px;
    z-index: 98;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
}


.submenu{
    top: 70px;
    width: 100%;
    height: 50px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    background-color: rgba(39, 91, 214, 0.3);
}
.submenu .nav-links .links .submenuprincipal{
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #004395;
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    display: none;
}

.submenu .nav-links .links .submenuprincipal li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.25);
}

.submenu .nav-links .links .perfilsubmenu li a{
    color: white;
    cursor:pointer;
    font-size: 15px;
    font: 500;
}

.submenu .nav-links .links li:hover .perfilsubmenu{
    display: block;
    z-index: 50;
}

.submenu .nav-links{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.bx-up-arrow-alt{
    color: white;
}

.submenu .navbar .nav-links .links li:hover .assinaturasarrow,
.submenu .navbar .nav-links .links li:hover .skinsitensarrow,
.submenu .navbar .nav-links .links li:hover .contasarrow,
.submenu .navbar .nav-links .links li:hover .jogosarrow{
    transform: rotate(180deg);
}

/* Aqui termina o Header */

/* Aqui começa a parte de bem vindos */

.bemvindo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.pesquisar {
    color: white;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    font-size: 20px;
}

.pesquisar input {
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid;
    padding:10px;
    font-size: .9rem;
    background-color: transparent;
    color:white;
    min-width: 130px;
}

.pesquisar input::placeholder {
    color:rgba(255,255,255,0.4);
}


.text{
    text-align: center;
    font-size: 75px;
    flex-basis: 100%;
    word-break: break-all;
}

.text2{
    margin-top: 20px;
    font-size: 20px;
}

/* Aqui termina a parte de bem vindos */

/* Aqui começa a parte de destaques */

.destaquesprincipal{
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.2);
    margin:20px;
    border-radius:5px;
    padding: 10px 10px 80px 10px;
}

.destaquestitulo{
    padding: 10px;
    font-size: 42px;
    color: white;
    text-align: center;
    align-content: center;
}

.destaques{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.box{
    width: 280px;
    height: min-content;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 20px 10px 30px;
}

.box:hover{
    background-color: black;
    transform: scale(1.02);
    transition: all ease 0.2s;
}

.model{
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    outline-style: solid;
    outline-width: 1px ;
    outline-offset: 7px;
    color: white;
    margin: 10px;

}

.detalhes{
    width: 100%;
}

.detalhes p{
    color: white;
    margin: 5px;
}

.detalhes hr{
    width: 80%;
}

/* Aqui termina a parte de destaques */

/* Aqui começa a parte do catálogo */

.catalogoprincipal{
    border-top:solid rgba(255, 255, 255, 0) 30px;
    background-color: rgba(41, 90, 207,0.2);
}

.textcatalogotitulo{
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    color: white;
}

.textcatalogotitulo2{
    margin: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
}


.catalogo1{
    column-count: 2;
    display: flex;
}

.textcatalogo1{
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.textcatalogo1titulo{
    font-size: 30px;
}

.textcatalogo1corpo1{
    font-size: 20px;
    margin:20px 10px 10px 10px;
}

.imagecatalogo1{
   width: 50%;
   height: 450px;
   margin: 10px 0px 0px 13.5px;
   outline-style: solid;
   outline-width: 1px ;
   outline-color: #004395;
}


.catalogo2{
    display: flex;
    margin-right: 13.5px;
    column-count: 2;
}

.textcatalogo2{
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.textcatalogo2titulo{
    font-size: 30px;
}

.textcatalogo2corpo1{
    font-size: 20px;
    margin:20px 10px 10px 10px;
}

.imagecatalogo2{
   width: 50%;
   height: 450px;
   margin: 0px 0px 30px 0px;
   outline-style: solid;
   outline-width: 1px ;
   outline-color: #004395;
   
}

/* Aqui termina a parte do catálogo */

/* Aqui começa a parte das marcas */

.melhoresmarcas{
    border-top:solid rgba(255, 255, 255, 0) 30px;
    background-color: #030a25;
}

.titulomarcas{
    margin: 80px 0 30px 0;
    font-size: 50px;
    text-align: center;
    color: white;
}

.subtitulomarcas{
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 70px;
}

.marcas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 80px;
    color: white;
    margin: 0 45px 0 45px;

}

.orgmarcas{
    text-align: center;
    /*border:solid 2px #00184E;
    border-radius: 10px;
    background-color:#00184E;
    padding: 5px;*/
}

.imagemarcas{
    width: 220px;
    height: 235px;
}

/* Aqui termina a parte das marcas */

/* Aqui começa a parte do rodape */

footer{
    padding-bottom: 20px;
}

.ftfooter{
    margin-left: 20px;
    margin-top: 20px;
}

.social{
    display: flex;
    justify-content: center;
}

.elementfooter{
    display: flex;
    justify-content: center;
}

.textfooter{
    color: white;
    margin-left: 20px;
    margin-top: 15px;
}

.creditos{
    display: flex;
    justify-content: center;
    
}

/* Aqui termina a parte do rodape */


/* Aqui começa o arquivo login */

.login input, label{
    display: block;
    width: 100%;
}

login input:focus, label:focus{
    outline: none;
}

/* Aqui a estlização do formulário */

.login{
    margin-top: 10vh;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color:#090033;
    border-radius: 10px;
    padding: 25px;
}

.login h1{
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fullbox{
    color: white;
    flex: 1 1 100%;
    position: relative;
    margin-top: 10px;
}

.space{
    margin-right: 2.5%;
}

label{
    font-size: 1.1rem;
    margin-bottom: 0px ;
}

.login input{
    border: none;
    border-bottom: 2px solid;
    padding: 10px;
    font-size: .9rem;
    background-color: transparent;
    color:white;
    min-width: 130px;
}

.btn-submit{
    color: white;
    border: none;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0;
    transition: ease-out 0.3s;
    margin-top: 20px;
}

.btn-submit:hover{
    box-shadow: inset 500px 0px 0 0 #3E096B;
}

.agreement{
    margin-right: 5px;
}

.agreement, .agreement-label{
    display: inline-block;
    width: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

.caminhocadastro{
    padding-top: 20px;
}

.error-validation{
    color: red;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}

.template{
    display: none;

}

/* Aqui termina a estlizaçao do formulario */


/* Aqui começa a parta de cadastro */

.cadastro{
    color: white;
    margin-top: 10vh;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #090033;
    border-radius: 10px;
    padding: 25px;
}

.cadastro h1{
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fullbox{
    flex: 1 1 100%;
    position: relative;
    margin-top: 10px;
}

.half-box{
    margin-top: 10px;
}

.space{
    margin-right: 2.5%;
}

.label{
    font-weight: bold;
    font-size: 0.8rem;
}

.cadastro input{
    border: none;
    border-bottom: 2px solid;
    padding: 10px;
    font-size: .9rem;
}

.btn-submit{
    background-color: #382D97;
    color: white;
    border: none;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0;
    transition: ease-out 0.3s;
    margin-top: 20px;
}

.btn-submit:hover{
    box-shadow: inset 500px 0px 0 0 #3E096B
}

.agreement{
    margin-right: 0px;
}

.agreement, .agreement-label{
    display: inline-block;
    width: auto;
}

.caminhocadastro{
    padding-top: 20px;
}

.error-validation{
    color: red;
    position: absolute;
    top: 57px;
    font-size: 100px;
}

.template{
    display: none;

}

/* Aqui termina a parta de cadastro */

/* Aqui a começa a parte do Perfil */

.sidebar{
    position: fixed;
    height: 100%;
    width: 70px;
    background: #11101d;
    padding: 6px 14px;
    transition:all 0.5s ease ;
}

.o{
    width: 160px;
}

.sidebar #btn{
    color: #fff;
    position: absolute;
    left: 62%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transition:all 0.5s ease ;
    transform: translateX(-80%);
}

.o #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 50px;

}

.sidebar ul li{
    list-style: none;
    height: 50px;
    width: 100%;
    margin: 0 6px;
    position: relative;
    line-height: 50px
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none;
    display: block;
}

.o ul li .tooltip{
    display: none;

}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    transition:all 0.4s ease ;
    text-decoration: none;
    border-radius: 12px ;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    background: #fff;
    color: #11101d;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links-name{
    opacity: 0;
    pointer-events: none;
}

.o .links-name{
    opacity:1;
    pointer-events: auto;
}



.perfil{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-left: 20px;
    margin-top: 50px ;
    color: white;
    border-radius: 10px;
    padding: 6px;
    font-size: 25px;
}

.perfil hr{
    width: 100%;
}

.perfil label{
    padding: 6px;
}

.dados{
    border-radius: 7px ;
    background-color: white;
    color: black;
    margin: 10px 0px 10px 0px;
    font-size: 23px;
}

.endereco{
    margin-left: 150px;
}

/* Aqui termina a parte do Perfil */

