@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    /*font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;*/
    box-sizing: border-box;
    /*background-image: url("imagens/3459071.jpg");*/
    background-color: #20006b;
    font-family: 'Ubuntu', sans-serif;
}

ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: white;
}

/* Aqui começa o Header */

header{    
    display: flex;
    justify-content: space-between;
    padding: 20px 4%;
    align-items: center;
    background-color: #140026;
}

.logo{
    font-size: 30px;
}
 
.nav_links{
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 20px;
}

.nav_links img {
    vertical-align: middle;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}

.nav_links a:hover{
    color: darkgray;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: height 1s;
    margin: 5px;
}

.isright {
    right:0;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.nav_links a{
    transition: all 0.3s ease 0s;
}

.submenu {
    background-color: #090033;
    color: white;
    padding:10px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}


/* Aqui termina o Header */

/* Aqui começa a parte de bem vindos */

.bemvindo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.pesquisar {
    color: white;
    text-align: center;
    align-content: center;
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
}

.pesquisar input {
    max-width: 50%;
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid;
    padding:10px;
    font-size: .9rem;
    background-color: transparent;
    color:white;
    min-width: 130px;
}


.text{
    text-align: center;
    font-size: 75px;
    flex-basis: 100%;
    word-break: break-all;
}

.text2{
    margin-top: 20px;
    font-size: 20px;
}

/* Aqui termina a parte de bem vindos */

/* Aqui começa a parte de destaques */

.destaquesprincipal{
    background-color: #140026;
    border-top:solid #090033 30px;
    padding-bottom: 100px;
}

.destaquestitulo{
    padding: 10px;
    font-size: 42px;
    color: white;
    text-align: center;
    align-content: center;
}

.destaques{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.box{
    width: 280px;
    height: min-content;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 20px 10px 30px;
}

.box:hover{
    background-color: black;
    transform: scale(1.02);
    transition: all ease 0.2s;
}

.model{
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    outline-style: solid;
    outline-width: 1px ;
    outline-offset: 7px;
    color: white;
    margin: 10px;

}

.detalhes{
    width: 100%;
}

.detalhes p{
    color: white;
    margin: 5px;
}

.detalhes hr{
    width: 80%;
}

/* Aqui termina a parte de destaques */

/* Aqui começa a parte do catálogo */

.catalogoprincipal{
    border-top:solid #090033 30px;
    background-color: #20006b;
}

.textcatalogotitulo{
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    color: white;
}

.textcatalogotitulo2{
    margin: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
}


.catalogo1{
    column-count: 2;
    display: flex;
}

.textcatalogo1{
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.textcatalogo1titulo{
    font-size: 30px;
}

.textcatalogo1corpo1{
    font-size: 20px;
    margin:20px 10px 10px 10px;
}

.imagecatalogo1{
   width: 50%;
   height: 450px;
   margin: 10px 0px 0px 13.5px;
   outline-style: solid;
   outline-width: 1px ;
   outline-color: #5800FF;
}


.catalogo2{
    display: flex;
    margin-right: 13.5px;
    column-count: 2;
}

.textcatalogo2{
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.textcatalogo2titulo{
    font-size: 30px;
}

.textcatalogo2corpo1{
    font-size: 20px;
    margin:20px 10px 10px 10px;
}

.imagecatalogo2{
   width: 50%;
   height: 450px;
   margin: 0px 0px 30px 0px;
   outline-style: solid;
   outline-width: 1px ;
   outline-color: #5800FF;
   
}

/* Aqui termina a parte do catálogo */

/* Aqui começa a parte das marcas */

.melhoresmarcas{
    border-top:solid #090033 30px;
    background-color: #140026;
}

.titulomarcas{
    margin: 80px 0 30px 0;
    font-size: 50px;
    text-align: center;
    color: white;
}

.subtitulomarcas{
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 70px;
}

.marcas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 80px;
    color: white;
    margin: 0 45px 0 45px;

}

.orgmarcas{
    text-align: center;
    /*border:solid 2px #00184E;
    border-radius: 10px;
    background-color:#00184E;
    padding: 5px;*/
}

.imagemarcas{
    width: 220px;
    height: 235px;
}

/* Aqui termina a parte das marcas */

/* Aqui começa a parte do rodape */

footer{
    padding-bottom: 20px;
}

.ftfooter{
    margin-left: 20px;
    margin-top: 20px;
}

.social{
    display: flex;
    justify-content: center;
}

.elementfooter{
    display: flex;
    justify-content: center;
}

.textfooter{
    color: white;
    margin-left: 20px;
    margin-top: 15px;
}

.creditos{
    display: flex;
    justify-content: center;
    
}

/* Aqui termina a parte do rodape */


/* Aqui começa o arquivo login */

input, label{
    display: block;
    width: 100%;
}

input:focus, label:focus{
    outline: none;
}

/* Aqui a estlização do formulário */

.login{
    margin-top: 10vh;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color:#090033;
    border-radius: 10px;
    padding: 25px;
}

.login h1{
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fullbox{
    color: white;
    flex: 1 1 100%;
    position: relative;
    margin-top: 10px;
}

.space{
    margin-right: 2.5%;
}

label{
    font-size: 1.1rem;
    margin-bottom: 0px ;
}

input{
    border: none;
    border-bottom: 2px solid;
    padding: 10px;
    font-size: .9rem;
    background-color: transparent;
    color:white;
    min-width: 130px;
}

.btn-submit{
    color: white;
    border: none;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0;
    transition: ease-out 0.3s;
    margin-top: 20px;
}

.btn-submit:hover{
    box-shadow: inset 500px 0px 0 0 #3E096B;
}

.agreement{
    margin-right: 5px;
}

.agreement, .agreement-label{
    display: inline-block;
    width: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

.caminhocadastro{
    padding-top: 20px;
}

.error-validation{
    color: red;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}

.template{
    display: none;

}

/* Aqui termina a estlizaçao do formulario */


/* Aqui começa a parta de cadastro */

.cadastro{
    margin-top: 10vh;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #090033;
    border-radius: 10px;
    padding: 25px;
}

.cadastro h1{
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fullbox{
    flex: 1 1 100%;
    position: relative;
    margin-top: 10px;
}

.half-box{
    margin-top: 10px;
}

.space{
    margin-right: 2.5%;
}

.label{
    font-weight: bold;
    font-size: 0.8rem;
}

input{
    border: none;
    border-bottom: 2px solid;
    padding: 10px;
    font-size: .9rem;
}

.btn-submit{
    background-color: #382D97;
    color: white;
    border: none;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0;
    transition: ease-out 0.3s;
    margin-top: 20px;
}

.btn-submit:hover{
    box-shadow: inset 500px 0px 0 0 #3E096B
}

.agreement{
    margin-right: 5px;
}

.agreement, .agreement-label{
    display: inline-block;
    width: auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

.caminhocadastro{
    padding-top: 20px;
}

.error-validation{
    color: red;
    position: absolute;
    top: 57px;
    font-size: 100px;
}

.template{
    display: none;

}

/* Aqui termina a parta de cadastro */


/* Aqui a começa a parte do Perfil */
.perfil {

    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;

    background-color: #2C2C2C;
    border-radius:10px;
    padding:50px;
}

.dados{
    border-radius: 7px ;
    border-style: solid;
    border-color: white white black;
    background-color: white;
    color: black;
    padding: 5px;
    margin: 5px;
    max-width: 30%;
    
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

}

.perfil span {
    flex:100%;
    flex-shrink: 4;
}

.perfil a {
    flex: 100%;
    flex-shrink: 4;
}

.titulodados{
    font-size: 35px;
    padding-bottom:30px ;
    flex:100%;
    color:black;
    
}

.lista {
    width:30%;
}

.lista ul {

    border-radius:10px;
    padding:10px;
    margin-bottom:10px;
    width: 100%;
    background-color: #2C2C2C;
}

.perfil-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin: 60px;
    color: white; 
    font-size: x-large;
    max-width: fit-content;
    border-radius: 10px;;
    justify-content: space-around;
}

/* Aqui termina a parte do Perfil */

