/* Aqui a estlização do formulário */

.login{
    margin-top: 10vh;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.3);
    background-color: white;
}

.error_notice{
    text-align: center;
    color: rgb(219, 0, 0);
    margin: 1em;
    font-weight: 900;
}

.login .titulo{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 85px;
    border-radius: 15px 15px 0px 0px;
    color: white;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.login .form-login{
    padding: 10px 45px 50px 30px;
}


.login .form-login .campo-dado{
    position: relative;
    height: 50px;
    width: 100%; 
    margin-top:20px;
}


.login .form-login .campo-dado input{
    height: 80%;
    width: 100%;
    padding-left: 20px;
    border-radius: 25px;
    font-size: 17px;
    border: 1px solid lightgrey;
    outline: none;
    transition: all 0.3s ease;
}

.login .form-login .campo-dado label{
    position: absolute;
    top: 40%;
    left: 20px;
    font-size: 17px;
    transform: translateY(-40%);
    pointer-events: none;
    color: gray;
    transition: all 0.3s ease;
}

.login .form-login .esqueceu-senha{
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
}

.login .form-login a{
    color: purple;
}

.form-login .btnlogin{
    color: white;
    width: 349px;
    height: 45px;
    border-radius: 25px;
    font-size: 20px;
    margin-top: 20px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-weight: 600;
    border: none;
    padding-left: none;
    cursor: pointer;
}

.login .form-login .cadastro-link{
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    margin-left: 10px;
}

.login .form-login .campo-dado input:focus,
.login .form-login .campo-dado input:valid{
    border-color: gray;
}


.login .form-login .campo-dado input:focus ~ label, 
.login .form-login .campo-dado input:valid ~ label{
    top: 0%;
    font-size: 16px;
    width: fit-content;
    background: #fff;
    transform: translateY(-60%);
}

.google-principal{
   display: flex;
   justify-content: center;
   position: relative;
   bottom: 20px;
}
/* Aqui termina a estlizaçao do formulario */


/* Aqui começa a parta de cadastro */

.cadastro{
   display: flex;
   justify-content: center;
   align-content: center;
   height: 100vh;
   margin-top: 80px;
}

.cadastro .titulo-cadastro{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 85px;
    border-radius: 15px 15px 0px 0px;
    color: white;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.cadastro .cadastroform{
    max-width: 700px;
    border-radius: 20px;
    height: fit-content;
    background-color: white;
}

.cadastro .cadastroform  .checkbox-div{
    margin: 50px 0 40px 30px;
}

.cadastroform .checkbox-div label{
    font-size: 18px;
}

.cadastro form .detalhes-cadastro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 45px 10px 30px;
}

form .detalhes-cadastro .fullbox{
    width: calc(100% / 2 - 20px);
    margin: 20px 0px 20px 0px;
}

form .detalhes-cadastro .fullbox p{
    margin-bottom: 5px;
}

.detalhes-cadastro .fullbox input{
    height: 80%;
    width: 100%;
    padding-left: 20px;
    border-radius: 25px;
    font-size: 17px;
    border: 1px solid lightgrey;
    outline: none;
}

.detalhes-cadastro .fullbox p{
    display: block;
    font-weight: 500;
    text-align: left;
    font-size: 20px;
}

form .genero-geral{
    margin: 20px 0px 20px 30px;
}

form .genero-geral .genero-titulo{
    font-size: 20px;
    font-weight: 600;
}

form .genero-geral .genero-categoria{
    display: flex;
    width: 80%;
    margin: 20px 0;
    justify-content: space-between;
}

.genero-geral .genero-categoria label{
    display: flex;
    align-items: center;
}

.genero-geral .genero-categoria .dot{
    height: 10px;
    width: 10px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 8px;
    border: 5px solid transparent;
}
#dot-1:checked ~ .genero-categoria label .one,
#dot-2:checked ~ .genero-categoria label .two,
#dot-3:checked ~ .genero-categoria label .three{
    border-color: #d9d9d9;
    background-color: #f063e8;
    
}

.genero-geral .radiobtn-genero{
    display: none;
}

.cadastro .cadastro-btn{
    display: flex;
    justify-content: center;
    text-align: center;
}

.cadastro .cadastro-btn .btncadastro {
    color: white;
    width: 360px;
    height: 45px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 20px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-weight: 600;
    border: none;
    padding-left: none;
    cursor: pointer;
}

.cadastro .cadastro-btn{
    padding: 10px 0px 30px 0px;
}

.cadastro .cadastro-link{
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 20px;
}

.cadastro .cadastro-link a{
    color: purple;
}

/* Aqui termina a parta de cadastro */
