/* Aqui começa a parte de bem vindos */

.bemvindo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.pesquisar {
    color: white;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    font-size: 20px;
}

.pesquisar input {
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid;
    padding:10px;
    font-size: .9rem;
    background-color: transparent;
    color:white;
    min-width: 130px;
}

.bemvindo .pesquisar input::placeholder {
    color:rgba(255,255,255,0.4);
}


.text{
    text-align: center;
    font-size: 75px;
    flex-basis: 100%;
    word-break: break-all;
}

.text2{
    margin-top: 20px;
    font-size: 20px;
}

/* Aqui termina a parte de bem vindos */

/* Aqui começa a parte de destaques */

.destaquesprincipal{
    background-image: linear-gradient(to right, #003d99b7 ,#5a07a8);
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px 10px 80px 10px;
}

.destaquestitulo{
    padding: 10px;
    font-size: 42px;
    color: white;
    text-align: center;
    align-content: center;
}

.destaques{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.box{
    width: 280px;
    height: min-content;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 20px 10px 30px;
}

.box:hover{
    background-color: black;
    transform: scale(1.02);
    transition: all ease 0.2s;
}

.model{
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    outline-style: solid;
    outline-width: 1px ;
    outline-offset: 7px;
    color: white;
    margin: 10px;

}

.detalhes{
    width: 100%;
}

.detalhes p{
    color: white;
    margin: 5px;
}

.detalhes hr{
    width: 80%;
}

/* Aqui termina a parte de destaques */

/* Aqui começa a parte do catálogo */

.catalogoprincipal{
    border-top:solid rgba(255, 255, 255, 0) 30px;
}

.textcatalogotitulo{
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    color: white;
}

.textcatalogotitulo2{
    margin: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.catalogoprincipal .catalogo1{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.catalogoprincipal .catalogo1 .img-catalogo1 img{
    width: 900px;
    height: 500px;
    border-radius: 10px;
}

.catalogoprincipal .catalogo1 .titulo-text-catalogo1{
    margin-left: 30px;
    text-align: center;
}

.catalogoprincipal .catalogo1 .titulo-text-catalogo1 .titulo-catalogo1{
    font-size: 26px;
    color: white;
    font-weight: 600;
}

.catalogoprincipal .catalogo1 .titulo-text-catalogo1 .text-catalogo1{
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-top: 50px;
}

.catalogoprincipal .catalogo1 .credito-img-catalogo1{
    position: absolute;
    top: 1980px;
    right: 635px;
    opacity: 0.7;
    color: white;
}

.catalogoprincipal .catalogo2{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.catalogoprincipal .catalogo2 .img-catalogo2 img{
    width: 900px;
    height: 500px;
    border-radius: 10px;
}

.catalogoprincipal .catalogo2 .titulo-text-catalogo2{
    text-align: center;
    margin-right: 50px;
}

.catalogoprincipal .catalogo2 .titulo-text-catalogo2 .titulo-catalogo2{
    font-size: 26px;
    color: white;
    font-weight: 600;
}

.catalogoprincipal .catalogo2 .titulo-text-catalogo2 .text-catalogo2{
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-top: 50px;
}

/* Aqui termina a parte do catálogo */

/* Aqui a começa a parte do Perfil */

    /*Aqui começa a parte da sidebar */

.sidebar{
    position: fixed;
    height: 100%;
    width: 70px;
    background: #11101d;
    padding: 6px 14px;
    transition:all 0.5s ease;
    top: 0px;
}

.o{
    width: 160px;
}

.sidebar #btn{
    color: #fff;
    position: absolute;
    left: 62%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transition:all 0.5s ease ;
    transform: translateX(-80%);
}

.o #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 50px;

}

.sidebar ul li{
    list-style: none;
    height: 50px;
    width: 100%;
    margin: 0 6px;
    position: relative;
    line-height: 50px
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none;
    display: block;
}

.o ul li .tooltip{
    display: none;

}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    transition:all 0.4s ease ;
    text-decoration: none;
    border-radius: 12px ;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    background: #fff;
    color: #11101d;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links-name{
    opacity: 0;
    pointer-events: none;
}

.o .links-name{
    opacity:1;
    pointer-events: auto;
}

.bxs-user,
.bxs-basket,
.bxs-shopping-bag,
.bxs-store-alt,
.bxs-door-open{
    font-size: 25px;
}

    /*Aqui termina a parte da sidebar */

    /*Aqui começa a parte de dados pessoais */

.dadospessoais{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 700px;
    width: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    padding: 25px 30px;
    border-radius: 10px;
}

.container .titulodados{
    font-size: 25px;
    width: 100%;
    position: relative;
    font-weight: 500;
}

.container .titulodados::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 30px;
    background: #9b56b6;
}

.container form .user-detalhes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.container form{
    padding-right: 15px;
}

.textinput{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.detalhe{
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
    display: block;
}

.user-detalhes .textinput label{
    height: 45px;
    display: block;
    width: 100%;
    padding-left: 15px;
    line-height: 45px;
    outline: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: white;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

form .editar{
    margin: 15px 10px 20px 0px;
}

form .editar a{
    font-size: 20px;
    color: black;
}

    /*Aqui termina a parte de dados pessoais */

    /*Aqui começa a parte de alteração de dados pessoais */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.dadospessoais .container .modal-div-btn{
    margin: 15px 0px 20px 0px;
}

.modal .modal-content .tituloalteracao{
    margin-left: 20px;
}

.container .modal-div-btn a{
    font-size: 20px;
    cursor: pointer;
    color: rgba(0,0,0,0.7);
}

.container .modal-div-btn a:hover{
    color: black;
}

.modal-content {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    margin: auto; 
    border-radius: 10px;
    padding: 20px;
    max-width: 700px;
    width: 100%;
}

.modal-content form .alteracao-dados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal-content .alteracao-dados .alteracao-dados-input{
    margin: 20px;
    width: 300px;
}

.alteracao-dados .alteracao-dados-input span{
    font-size: 20px;
    font-weight: 550;
}

.modal-content .close{
    margin-right: 100%;
    color: black;
}

.alteracao-dados .alteracao-dados-input input{
    width: 100%;
    height: 45px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    padding-left: 10px;
    outline: none;
}

.alteracao-dados .alteracao-dados-input input::placeholder{
    color: black;
}

.modal-content .alteracao-dados-btn{
    display: flex;
    justify-content: center;
}



.modal-content .alteracao-dados-btn .btncadastro{
    color: white;
    width: 360px;
    height: 45px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 20px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-weight: 600;
    border: none;
    padding-left: none;
    cursor: pointer;
}



.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.dadospessoais .edit div{
    margin: 20px 10px 10px 0px;
}

.dadospessoais .edit a{
    color: rgba(0,0,0,0.5);
}

.dadospessoais .edit span{
    font-size: 17px;
}

    /*Aqui termina a parte de alteração de dados pessoais */

    /*Aqui começa a parte de compras */

.compras{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    margin-top: 50px;
}

.compras .titulo-compras{
    font-size: 25px;
    color: white;
    max-width: 800px;
    min-width: 800px;
    font-weight: 600;
    margin-bottom: 50px;
}

.compras .titulo-compras .bxs-basket{
    margin-right: 10px;
}

.compras .compras-section{
    background: white;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    min-width: 800px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.compras-section .numero-pedido span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.compras-section .status span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.compras-section .data span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.compras-section .pagamento span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.compras-section .nf-e span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.compras-section .nf-e .bxs-notepad{
    font-size: 30px;
}

.compras-section .status .status-aprov{
    color: green;
    font-weight: 600;
}

.compras-section .status .status-recused{
    color: red;
    font-weight: 600;
}

    /*Aqui termina a parte de compras */

    /*Aqui começa a parte de vendas */

.vendas{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    margin-top: 50px;
}

.vendas .titulo-vendas{
    font-size: 25px;
    color: white;
    max-width: 800px;
    min-width: 800px;
    font-weight: 600;
    margin-bottom: 50px;
}

.vendas .titulo-vendas .bxs-shopping-bag{
    margin-right: 10px;
}

.vendas .vendas-section{
    background: white;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    min-width: 800px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.vendas .vendas-section .bxs-user{
    font-size: 30px;
}

.vendas-section .numero-venda span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.vendas-section .status span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.vendas-section .data span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.vendas-section .pagamento span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.vendas-section .comprador span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}


.status .status-aprov{
    color: green;
    font-weight: 600;
}

.status .status-recused{
    color: red;
    font-weight: 600;
}

.status .status-pendente{
    color: #BEB329;
    font-weight: 600;
}

    /*Aqui termina a parte de vendas */

    /*Aqui começa a parte de anuncios */

.anuncios {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.anuncios .anuncios-box {
    max-width: 700px;
    border-radius: 20px;
    height: fit-content;
    padding: 25px 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.anuncios-box .tituloanucio {
    font-size: 25px;
    width: 100%;
    position: relative;
    font-weight: 500;
    margin-bottom: 30px;
}

.anuncios-box .tituloanucio::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 30px;
    background: #9b56b6;
}

.anuncios .anuncios-box .anuncio-box-sub{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.anuncios .anuncios-box .nomeanuncio{
    width: calc(100% / 2 - 20px);
}

.anuncios-box .nomeanuncio p{
    text-align: left;
    font-size: 20px;
}

.anuncios-box .nomeanuncio input{   
    margin: 10px 0 12px 0;
    height: 45px;
    width: 90%;
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 17px;
}

.anuncios .anuncios-box .tipoanuncio{
    width: calc(100% / 2 - 20px);
}

.anuncios-box .tipoanuncio p{
    text-align: left;
    font-size: 20px;
}

.anuncios-box .tipoanuncio select {
    margin: 10px 0 12px 0;
    height: 45px;
    width: 95.5%;
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 17px;
}

.anuncios .anuncios-box .precoanuncio{
    width: calc(100% / 2 - 20px);
}

.anuncios-box .precoanuncio p{
    text-align: left;
    font-size: 20px;
}

.anuncios-box .precoanuncio input{
    margin: 10px 0 12px 0;
    height: 45px;
    width: 90%;
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 17px;
}

.anuncios .anuncios-box .fotoanuncio{
    width: calc(100% / 2 - 20px);
}

.anuncios-box .fotoanuncio .p{
    text-align: left;
    font-size: 20px;
}

.anuncios-box .fotoanuncio .arquivo {
    display: none;
}

.anuncios-box .fotoanuncio .file{
    margin: 10px 0 12px 0;
    height: 45px;
    width: 90%;
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 17px;
}

.anuncios-box .fotoanuncio .btn{
    cursor: pointer;
    background-color: black;
    border: none;
    box-sizing: border-box;
    padding: 2px 10px;
    color: #FFF;
    height: 32px;
    font-size: 15px;
    vertical-align: middle;
}

.anuncios-box form textarea{
    height: 150px;
    margin: 10px 0 12px 0;
    width: 690px;
    resize: none;
    outline: none;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    padding: 10px 10px 0 10px;
}

.anuncios-box .descricaoanuncio p{
    text-align: left;
    margin-top: 5px;
    font-size: 20px;
}

.anuncios .btn-anunciar{
    margin: auto;
}

.anuncios-box .btn-anunciar input{
    color: white;
    width: 349px;
    height: 45px;
    border-radius: 25px;
    font-size: 20px;
    margin-top: 20px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-weight: 600;
    border: none;
    padding-left: none;
    cursor: pointer;
}

    /*Aqui termina a parte de anuncios */

/* Aqui termina a parte do Perfil */

/* Aqui começa a parte de produtos */

.produtos{
    height: 100%;
    margin: 80px 30px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    flex-wrap: wrap;
}

.produtos .product-card{
    max-height: 450px;
    border-radius: 25px;
    margin-bottom: 100px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 20px 30px 30px 30px;
    max-width: 250px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background: white;
    color:black;
    overflow: hidden;
}

.product-card .produto-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card .produto-logo img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.product-card .produto-logo i{
    font-size: 27px;
    color: #707070;
    transition: all ease 0.3s;
    cursor: pointer;
}

.product-card .produto-logo i:hover{
    color: #333;
}

.product-card .imagem-produto {
    position: relative;
    height: 210px;
    margin: auto;
}

.product-card .imagem-produto img{
    position: absolute;
    margin-top: 10px;
    left: 20px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;

}

.product-card .produto-detalhes{
    height: 4.5em;
    margin-top: 20px;
}

.product-card .produto-detalhes .produto-nome{
    font-size: 24px;
    font-weight: 600;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-card .produto-detalhes p{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
    color: #333;
}

.product-card .produto-detalhes .estrelas {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    pointer-events: none;
}

.estrelas .bx-star{
    color: black;
}

.produto-detalhes .estrelas i:hover{
    background-color: black;
}

.product-card .preco-div{
    display: flex;
    flex-direction: column;
}

.product-card .preco-div .preco-nun{
    margin-top: 5px;
    font-size: 24px;
    text-align: left;
    font-weight: 600;
}

.product-card .btn-addcarrinho{
   position: relative;
   margin-top: 25px;
   height: 50px;
   width: 100%;
   background: red;
   border-radius: 20px;
   border: none;
   outline: none;
   overflow: hidden;
}

.btn-addcarrinho button{
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.product-card .btn-addcarrinho .button-layey{
    position: absolute;
    height: 100%;
    left: -100%;
    width: 300%;
    background-image: linear-gradient(1355deg, #9708CC,#43CBFF,#9708CC,#43CBFF );
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.product-card .btn-addcarrinho:hover .button-layey{
    left: 0;
}

.paginas p{
    display: flex;
    vertical-align: middle;
    justify-content:center;
    align-items: center;
}

.paginas a {
    color:white;
    margin: 0 5px 0 5px;
}

.paginas i{
    font-size:40px;
}

/* Aqui começa a estilização da pagina de cada produto */

.produtos-container-geral{
    display: flex;
    position: relative;
    justify-content: center;
}

.produto-container{
    display:flex;  
    background-color: #9921e8;
    background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
    min-height: 30px;
    margin-top: 80px ;
    margin-bottom: 30px;
    width: 1250px;
    border-radius: 10px;
}

.produto-container .info-produtos-container{
    color:white;
    font-size:large;
    display: flex;
    justify-content: left;
}

.produto-container .info-produtos-container hr{
    width: calc(100% - 50px);
    color: black;
    right: 0;
}

.produto-container .info-produtos-container .img-produtro-container{
    background: transparent;
    margin: 20px 0px 20px 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1px;
}

.produto-container .info-produtos-container .img-produtro-container img{
    margin: 20px 20px 20px 20px;
    background-color: black;
    border-radius: 10px;
}

.produto-container .info-produtos-container .text-produtos-container{
    flex-wrap: wrap;
}

.produto-container .info-produtos-container .text-produtos-subcontainer{
    min-width: 95%;
    margin: 20px 10px 10px 20px;
    font-size: 20px;
}

.produto-container .info-produtos-container .text-produtos-subcontainer-descricao{
    overflow-wrap: break-word;
    width: 650px;
    font-weight: 500;
    font-size: 22px;
}

.produto-container .info-produtos-container .text-produtos-subcontainer-preco{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}

.produto-container .info-produtos-container .text-produtos-subcontainer-title{
    font-size: xx-large;
}

.produto-container .bnt-container-comprar{
    width: 70%;
}

.produto-container .btn-comprar-subcontainer-button{
    position: relative;
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 20px 0px 0px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    overflow: hidden;
}

.btn-comprar-subcontainer button{
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.btn-comprar-subcontainer .btn-comprar{
    position: absolute;
    height: 100%;
    left: -100%;
    width: 300%;
    background-image: linear-gradient(1355deg, #9708CC,#43CBFF,#9708CC,#43CBFF );
    transition: all 0.6s ease;
    border: none;
    outline: none;
}

.btn-comprar-subcontainer:hover .btn-comprar{
    left: 0px;
}

.fornecedor-info{
    width: 50%;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.3);
    background-color: #9921e8;
    background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
}

.fornecedor-info p{
    text-align: left;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

.fornecedor-info .fornecedor-text{
    font-size: 1.2em;
    font-weight: 500;
    color: white;
}


/* Aqui começa a parte do site do carrinho */

@media only screen and (max-width: 1000px) {
    .carrinho-resumo{
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }

    .resumo-preco-total{
        background-color: white;
        border-radius: 10px;
        height: 500px;
        color: black;
        margin-top:40px;
        flex:80%
    }
}

.carrinho-resumo{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.carrinho-lista-container{
    border-radius: 10px;
    min-height: 410px;
    width: 70%;
    padding: 5px;
    color: white;
}

.carrinho-lista-container .titulo-lista-container-carrinho{
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    margin: 20px 0px 0px 20px;
}

.carrinho-lista-container .carrinho-lista-produtos{
   margin-left: 20px;
   margin-right: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   border-radius: 10px;
   padding-top: 20px;
   font-size: 20px;
}

.carrinho-lista-container .linha-divisioria-carrinho{
    width: 100%;
}

.carrinho-lista-container .produtos-linha-descricao{
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    font-size: 20px;
}

.carrinho-lista-container .carrinho-lista-produtos .carrinho-produto-individual{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 0px 10px 10px 10px;
    height: 120px;
}

.carrinho-lista-produtos .carrinho-produto-individual .carrinho-produto-nome{
    width: 50%;
    font-size: 22px;
    font-weight: 600;
}

.carrinho-lista-produtos .carrinho-produto-individual .carrinho-produto-preco{
    font-size: 22px;
    font-weight: 600;
}

.linha-descricao-carrinho{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 8px 285px;
    flex: 50%;
}

.resumo-preco-total{
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 10px;
    height: 400px;
    width: 300px;
    top: 50px;
    position: sticky;
    color: white;
}

.resumo-preco-total .titulo-resumo-preco{
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    margin: 20px;

}

.resumo-preco-total .preco-total-subcontainer-carrinho{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin: 30px 0px 0px 0px;
    font-size: 25px;
    font-weight: 600;
}

.resumo-preco-total .preco-total-subcontainer-carrinho p{
    flex:100%;
    margin-left: 50px;
}

.resumo-preco-total .button-pagamento-carrinho{
   display: flex;
   justify-content: center;
   margin-top: 50px;
   margin-bottom: 30px;
   font-size: 20px;
   text-transform: uppercase;
}

.resumo-preco-total .button-pagamento-carrinho .button-pagamento-link{
    color: white;
    background-color: #6a2f91;
    background-image: linear-gradient(315deg, #743a9b 0%, #48107c 74%);
    border-radius: 10px;
    padding: 10px 23px 10px 23px;
}

.resumo-preco-total .button-pagamento-carrinho .button-pagamento-link:hover{
    background-color: #743a9b;
    background-image: linear-gradient(500deg, #743a9b 0%, #48107c 74%);
}

.resumo-preco-total .button-sair-carrinho{
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
 }
 
 .resumo-preco-total .button-sair-carrinho .button-sair-link{
    color: white;
    background-color: #743a9b;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
 }

/* Aqui termina a parte do site do carrinho */

/* Aqui começa a parte do site do pagamento */

.container-pagamento{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    max-width: 80%;
    min-height: 400px;
    border-radius: 10px;
}
.container-pagamento p,
.container-pagamento a,
.container-pagamento li,
.container-pagamento ul{
    text-align: left;
    color: white;
}

.container-pagamento .titulo-container-pagamento{
    padding: 20px;
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.container-pagamento .titulo-container-pagamento .bxs-shopping-bags{
    padding-right: 5px;
    font-size: 24px;
}

.container-pagamento .formas-pagamento-subcontainer{
    display: flex;
    margin: 20px;
    color: white;
}

.container-pagamento .formas-pagamento-subcontainer .buttons-div-pagamento{
    justify-content: left;
    margin-right: 130px;
}

.formas-pagamento-subcontainer .buttons-div-pagamento .button-div-pix{
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    color: white;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-weight: 600;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    width: 250%;
    text-align: center;
    cursor: pointer;
}

.formas-pagamento-subcontainer .buttons-div-pagamento .button-div-boleto{
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    color: white;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-weight: 600;
    width: 250%;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    cursor: pointer;
}

.container-pagamento .formas-pagamento-subcontainer .forma-pagamento-pix,
.container-pagamento .formas-pagamento-subcontainer .forma-pagamento-boleto{
    justify-content: right;
}

.formas-pagamento-subcontainer .forma-pagamento-pix .titulo-pagamento-pix{
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

.formas-pagamento-subcontainer .forma-pagamento-pix .descricao-forma-pagamento{
    margin-left: 20px;
    font-size: 17px;
    padding-right: 20px;
}

.formas-pagamento-subcontainer .forma-pagamento-pix .descricao-forma-pagamento p{
    margin-bottom: 20px;
    text-align: justify;
}

.formas-pagamento-subcontainer .forma-pagamento-pix .descricao-forma-pagamento li{
    text-align: justify;
}


.formas-pagamento-subcontainer .forma-pagamento-boleto .titulo-pagamento-boleto{
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

.formas-pagamento-subcontainer .forma-pagamento-boleto .descricao-forma-pagamento{
    margin-left: 20px;
    font-size: 17px;
    margin-right: 20px;
}

.formas-pagamento-subcontainer .forma-pagamento-boleto .descricao-forma-pagamento p{
    margin-bottom: 20px;
    text-align: justify;
}

.formas-pagamento-subcontainer .forma-pagamento-boleto .descricao-forma-pagamento li{
    text-align: justify;
}

.button-pagamento-voltar{
    display: flex;
    justify-content:end;
    margin-top: 20px;
    margin-right: 160px;
}

.button-pagamento-voltar .button-pagamento-pix{
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    color: white;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-weight: 600;
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
}

.button-pagamento-voltar .button-pagamento-boleto{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-weight: 600;
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
}

.button-pagamento-voltar .button-voltar{
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-weight: 600;
    padding: 10px 25px 10px 25px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
}

.container-pagamento .preco-total-pagamento{
    font-size: 25px;
    width: fit-content;
    display: flex;
    justify-content: start;
    margin-left: 240px;
    border: 1px solid white;;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
}

/* Aqui termina a parte do site do pagamento */

/* Aqui começa a parte da finalização do pagamento */

.finalizar-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.finalizar-container .status-finalizado{
   text-align: center;
}

.finalizar-container .status-finalizado .titulo-status-finalizado{
    font-size: 28px;
    font-weight: 600;
    padding: 5px;
    color: white;
}

.finalizar-container .status-finalizado .subtitulo-status-finalizado{
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.finalizar-container .finalizacao-info-pedido{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
    margin-top: 80px;
}

.finalizar-container .finalizacao-info-pedido p{
    margin-bottom: 5px;
}

.finalizar-container .finalizacao-info-pedido .info-numero-pedido{
    margin-right: 70px;
    border: none;
    padding: 20px 37px 20px 37px;
    border: 1px solid white;
}

.finalizar-container .finalizacao-info-pedido .info-opcao-pagamento{
    border: none;
    padding: 20px;
    border: 1px solid white;
}

.finalizar-container .button-finalizacao{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.finalizar-container .button-finalizacao .button-visualizar-boleto{
    cursor: pointer;
    font-size: 24px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-weight: 600;
    border: none;
    text-transform: uppercase;
    padding: 10px 35px 10px 35px;
    border-radius: 10px;
}

.finalizar-container .button-finalizacao .button-continuar-navegando{
    cursor: pointer;
    font-size: 24px;
    border: 1px solid white;
    padding: 10px 25px 10px 25px;
}

/* Aqui termina a parte da finalização do pagamento */

/* Aqui começa o sobre */

.about{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 20px;
    display: flex;
}


.about .text-about .titulo-about{
    text-align: left;
    position: relative;
    margin: 60px 0px 40px 20px;
    font-size: 28px;
    color: white;
    font-weight: 600;
}

.about .text-about .titulo-about::before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 3px;
    width: 30px;
    background: white;
}

.about .text-about p{
    text-align: justify;
    font-size: 22px;
    margin: 10px 40px 0px 20px;
    color: white;
}


/* Aqui termina a parte so sobre */

/* Aqui começa a parte dos Termos de Uso */

.container-geral-termos-deuso{
    width: 100vh;
    margin: auto;
    color: white;
}

.container-geral-termos-deuso p{
    font-size: 18px;
    text-align: justify;
    padding-top:20px;
}

.container-geral-termos-deuso .titulo-termos-deuso{
    margin: 80px 0px 40px 0px;
}

.container-geral-termos-deuso .titulo-termos-deuso .titulo-principal-termos{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.container-geral-termos-deuso .titulo-termos-deuso .subtitulo-principal-termos{
    font-size: 22px;
    font-weight: 600;
}

.container-geral-termos-deuso .subscontainers-termos{
    margin-bottom: 40px;
}

.container-geral-termos-deuso .subscontainers-termos .titulo-termos-de-uso-sub-org{
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 10px;
}

.container-geral-termos-deuso .subscontainers-termos .titulo-termos-de-uso-sub-org-ul{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container-geral-termos-deuso .subscontainers-termos ul{
    margin: 20px 0px 20px 0px;
}

.container-geral-termos-deuso .subscontainers-termos li{
    font-size: 18px;
    list-style-type: circle;
}