/* Aqui começa a parte de bem vindos */

.bemvindo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.pesquisar {
    color: white;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    font-size: 20px;
}

.pesquisar input {
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid;
    padding:10px;
    font-size: .9rem;
    background-color: transparent;
    color:white;
    min-width: 130px;
}

.bemvindo .pesquisar input::placeholder {
    color:rgba(255,255,255,0.4);
}


.text{
    text-align: center;
    font-size: 75px;
    flex-basis: 100%;
    word-break: break-all;
}

.text2{
    margin-top: 20px;
    font-size: 20px;
}

/* Aqui termina a parte de bem vindos */

/* Aqui começa a parte de destaques */

.destaquesprincipal{
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.2);
    margin:20px;
    border-radius:5px;
    padding: 10px 10px 80px 10px;
}

.destaquestitulo{
    padding: 10px;
    font-size: 42px;
    color: white;
    text-align: center;
    align-content: center;
}

.destaques{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.box{
    width: 280px;
    height: min-content;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 20px 10px 30px;
}

.box:hover{
    background-color: black;
    transform: scale(1.02);
    transition: all ease 0.2s;
}

.model{
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    outline-style: solid;
    outline-width: 1px ;
    outline-offset: 7px;
    color: white;
    margin: 10px;

}

.detalhes{
    width: 100%;
}

.detalhes p{
    color: white;
    margin: 5px;
}

.detalhes hr{
    width: 80%;
}

/* Aqui termina a parte de destaques */

/* Aqui começa a parte do catálogo */

.catalogoprincipal{
    border-top:solid rgba(255, 255, 255, 0) 30px;
    background-color: rgba(41, 90, 207,0.2);
}

.textcatalogotitulo{
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    color: white;
}

.textcatalogotitulo2{
    margin: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
}


.catalogo1{
    column-count: 2;
    display: flex;
}

.textcatalogo1{
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

.textcatalogo1titulo{
    font-size: 30px;
}

.textcatalogo1corpo1{
    font-size: 20px;
    margin:20px 10px 10px 10px;
}

.imagecatalogo1{
   width: 50%;
   height: 450px;
   margin: 10px 0px 0px 13.5px;
   outline-style: solid;
   outline-width: 1px ;
   outline-color: #004395;
}


.catalogo2{
    display: flex;
    margin-right: 13.5px;
    column-count: 2;
}

.textcatalogo2{
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.textcatalogo2titulo{
    font-size: 30px;
}

.textcatalogo2corpo1{
    font-size: 20px;
    margin:20px 10px 10px 10px;
}

.imagecatalogo2{
   width: 50%;
   height: 450px;
   margin: 0px 0px 30px 0px;
   outline-style: solid;
   outline-width: 1px ;
   outline-color: #004395;
   
}

/* Aqui termina a parte do catálogo */

/* Aqui começa a parte das marcas */

.melhoresmarcas{
    border-top:solid rgba(255, 255, 255, 0) 30px;
    background-color: #030a25;
}

.titulomarcas{
    margin: 80px 0 30px 0;
    font-size: 50px;
    text-align: center;
    color: white;
}

.subtitulomarcas{
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 70px;
}

.marcas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 80px;
    color: white;
    margin: 0 45px 0 45px;

}

.orgmarcas{
    text-align: center;
    /*border:solid 2px #00184E;
    border-radius: 10px;
    background-color:#00184E;
    padding: 5px;*/
}

.imagemarcas{
    width: 220px;
    height: 235px;
}

/* Aqui termina a parte das marcas */

/* Aqui começa a parte do rodape */

footer{
    padding-bottom: 20px;
}

.ftfooter{
    margin-left: 20px;
    margin-top: 20px;
}

.social{
    display: flex;
    justify-content: center;
}

.elementfooter{
    display: flex;
    justify-content: center;
}

.textfooter{
    color: white;
    margin-left: 20px;
    margin-top: 15px;
}

.creditos{
    display: flex;
    justify-content: center;
    
}

/* Aqui termina a parte do rodape */


/* Aqui a estlização do formulário */

.login{
    margin-top: 10vh;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.3);
    background-color: white;
}

.error_notice{
    text-align: center;
    color: rgb(219, 0, 0);
    margin: 1em;
    font-weight: 900;
}

.login .titulo{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 85px;
    border-radius: 15px 15px 0px 0px;
    color: white;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.login .form-login{
    padding: 10px 45px 50px 30px;
}


.login .form-login .campo-dado{
    position: relative;
    height: 50px;
    width: 100%; 
    margin-top:20px;
}


.login .form-login .campo-dado input{
    height: 80%;
    width: 100%;
    padding-left: 20px;
    border-radius: 25px;
    font-size: 17px;
    border: 1px solid lightgrey;
    outline: none;
    transition: all 0.3s ease;
}

.login .form-login .campo-dado label{
    position: absolute;
    top: 40%;
    left: 20px;
    font-size: 17px;
    transform: translateY(-40%);
    pointer-events: none;
    color: gray;
    transition: all 0.3s ease;
}

.login .form-login .esqueceu-senha{
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
}

.login .form-login a{
    color: purple;
}

.form-login .btnlogin{
    color: white;
    width: 349px;
    height: 45px;
    border-radius: 25px;
    font-size: 20px;
    margin-top: 20px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-weight: 600;
    border: none;
    padding-left: none;
    cursor: pointer;
}

.login .form-login .cadastro-link{
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    margin-left: 10px;
}

.login .form-login .campo-dado input:focus,
.login .form-login .campo-dado input:valid{
    border-color: gray;
}


.login .form-login .campo-dado input:focus ~ label, 
.login .form-login .campo-dado input:valid ~ label{
    top: 0%;
    font-size: 16px;
    width: fit-content;
    background: #fff;
    transform: translateY(-60%);
}

.google-principal{
   display: flex;
   justify-content: center;
   position: relative;
   bottom: 20px;
}
/* Aqui termina a estlizaçao do formulario */


/* Aqui começa a parta de cadastro */

.cadastro{
   display: flex;
   justify-content: center;
   align-content: center;
   height: 100vh;
   margin-top: 80px;
}

.cadastro .titulo-cadastro{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 85px;
    margin-bottom: 20px;
    color: white;
}

.cadastro .cadastroform{
    max-width: 700px;
    border-radius: 20px;
    height: fit-content;
    padding: 25px 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.cadastro .cadastroform  .checkbox-div{
    margin: 30px 0 40px 0;
}

.cadastroform .checkbox-div label{
    font-size: 18px;
}

.cadastro form .detalhes-cadastro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .detalhes-cadastro .fullbox{
    width: calc(100% / 2 - 20px);
}


.detalhes-cadastro .fullbox input{
    margin: 10px 0 12px 0;
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 17px;
}

.detalhes-cadastro .fullbox p{
    display: block;
    font-weight: 500;
    text-align: left;
    font-size: 20px;
}

form .genero-geral{
    margin-top: 20px;
    margin-bottom: 20px;
}

form .genero-geral .genero-titulo{
    font-size: 20px;
    font-weight: 600;
}

form .genero-geral .genero-categoria{
    display: flex;
    width: 80%;
    margin: 20px 0;
    justify-content: space-between;
}

.genero-geral .genero-categoria label{
    display: flex;
    align-items: center;
}

.genero-geral .genero-categoria .dot{
    height: 10px;
    width: 10px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin-right: 8px;
    border: 5px solid transparent;
}
#dot-1:checked ~ .genero-categoria label .one,
#dot-2:checked ~ .genero-categoria label .two,
#dot-3:checked ~ .genero-categoria label .three{
    border-color: #d9d9d9;
    background-color: #f063e8;
    
}

.genero-geral .radiobtn-genero{
    display: none;
}

.cadastro .cadastro-btn{
    display: flex;
    justify-content: center;
    text-align: center;
}

.cadastro .cadastro-btn .btncadastro {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    width: 70%;
    height: 40px;
    margin-top: 40px;
    outline: none;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}

/* Aqui termina a parta de cadastro */

/* Aqui a começa a parte do Perfil */

.sidebar{
    position: fixed;
    height: 100%;
    width: 70px;
    background: #11101d;
    padding: 6px 14px;
    transition:all 0.5s ease ;
}

.o{
    width: 160px;
}

.sidebar #btn{
    color: #fff;
    position: absolute;
    left: 62%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transition:all 0.5s ease ;
    transform: translateX(-80%);
}

.o #btn{
    left: 90%;
}

.sidebar ul{
    margin-top: 50px;

}

.sidebar ul li{
    list-style: none;
    height: 50px;
    width: 100%;
    margin: 0 6px;
    position: relative;
    line-height: 50px
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none;
    display: block;
}

.o ul li .tooltip{
    display: none;

}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    transition:all 0.4s ease ;
    text-decoration: none;
    border-radius: 12px ;
    white-space: nowrap;
}

.sidebar ul li a:hover{
    background: #fff;
    color: #11101d;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links-name{
    opacity: 0;
    pointer-events: none;
}

.o .links-name{
    opacity:1;
    pointer-events: auto;
}

.bxs-user,
.bxs-basket,
.bxs-shopping-bag,
.bxs-store-alt,
.bxs-door-open{
    font-size: 25px;
}


.dadospessoais{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container{
    max-width: 700px;
    width: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    padding: 25px 30px;
    border-radius: 5px;
}

.container .titulodados{
    font-size: 25px;
    width: 100%;
    position: relative;
    font-weight: 500;
}

.container .titulodados::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 30px;
    background: #9b56b6;
}

.container form .user-detalhes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.container form{
    padding-right: 15px;
}

.textinput{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.detalhe{
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
    display: block;
}

.user-detalhes .textinput label{
    height: 45px;
    display: block;
    width: 100%;
    padding-left: 15px;
    line-height: 45px;
    outline: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: white;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

form .editar{
    margin: 15px 10px 20px 0px;
}

form .editar a{
    font-size: 20px;
    color: black;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.dadospessoais .container .modal-div-btn{
    margin: 15px 0px 20px 0px;
}

.container .modal-div-btn a{
    font-size: 20px;
    cursor: pointer;
    color: rgba(0,0,0,0.7);
}

.container .modal-div-btn a:hover{
    color: black;
}

.modal-content {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    margin: auto; 
    border-radius: 10px;
    padding: 20px;
    max-width: 700px;
    width: 100%;
}

.modal-content form .alteracao-dados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal-content .alteracao-dados .alteracao-dados-input{
    margin: 20px;
    width: 300px;
}

.alteracao-dados .alteracao-dados-input span{
    font-size: 20px;
    font-weight: 550;
}

.alteracao-dados .alteracao-dados-input input{
    width: 100%;
    height: 45px;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    padding-left: 10px;
    outline: none;
}

.alteracao-dados .alteracao-dados-input input::placeholder{
    color: black;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.endereco{
    background:rgba(39, 91, 214, 0.4);
    margin: 20px 0 12px 0;
    border-radius:5px;
    border-left:solid 5px black; 
    padding: 10px;
} 

.subtituloendereco{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.dadospessoais .edit div{
    margin: 20px 10px 10px 0px;
}

.dadospessoais .edit a{
    color: rgba(0,0,0,0.5);
}

.dadospessoais .edit span{
    font-size: 17px;
}


.compras{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    margin-top: 100px;
}

.compras .titulo-compras{
    font-size: 25px;
    color: white;
    max-width: 800px;
    min-width: 800px;
    font-weight: 600;
    margin-bottom: 50px;
}

.compras .titulo-compras .bxs-basket{
    margin-right: 10px;
}

.compras .compras-section{
    background: white;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    min-width: 800px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.compras-section .numero-pedido span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.compras-section .status span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.compras-section .data span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.compras-section .pagamento span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.compras-section .nf-e span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.compras-section .nf-e .bxs-notepad{
    font-size: 30px;
}

.compras-section .status .status-aprov{
    color: green;
    font-weight: 600;
}

.compras-section .status .status-recused{
    color: red;
    font-weight: 600;
}


.vendas{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    margin-top: 100px;
}

.vendas .titulo-vendas{
    font-size: 25px;
    color: white;
    max-width: 800px;
    min-width: 800px;
    font-weight: 600;
    margin-bottom: 50px;
}

.vendas .titulo-vendas .bxs-shopping-bag{
    margin-right: 10px;
}

.vendas .vendas-section{
    background: white;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    min-width: 800px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.vendas .vendas-section .bxs-user{
    font-size: 30px;
}

.vendas-section .numero-venda span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.vendas-section .status span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.vendas-section .data span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.vendas-section .pagamento span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.vendas-section .comprador span{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}


.status .status-aprov{
    color: green;
    font-weight: 600;
}

.status .status-recused{
    color: red;
    font-weight: 600;
}

.status .status-pendente{
    color: #BEB329;
    font-weight: 600;
}



.anuncios {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.anuncios .anuncios-box {
    max-width: 700px;
    border-radius: 20px;
    height: fit-content;
    padding: 25px 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.anuncios-box .tituloanucio {
    font-size: 25px;
    width: 100%;
    position: relative;
    font-weight: 500;
    margin-bottom: 30px;
}

.anuncios-box .tituloanucio::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 30px;
    background: #9b56b6;
}

.anuncios .anuncios-box .anuncio-box-sub{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.anuncios .anuncios-box .nomeanuncio{
    width: calc(100% / 2 - 20px);
}

.anuncios-box .nomeanuncio p{
    text-align: left;
    font-size: 20px;
}

.anuncios-box .nomeanuncio input{   
    margin: 10px 0 12px 0;
    height: 45px;
    width: 90%;
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 17px;
}

.anuncios .anuncios-box .tipoanuncio{
    width: calc(100% / 2 - 20px);
}

.anuncios-box .tipoanuncio p{
    text-align: left;
    font-size: 20px;
}

.anuncios-box .tipoanuncio select {
    margin: 10px 0 12px 0;
    height: 45px;
    width: 95.5%;
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 17px;
}

.anuncios .anuncios-box .precoanuncio{
    width: calc(100% / 2 - 20px);
}

.anuncios-box .precoanuncio p{
    text-align: left;
    font-size: 20px;
}

.anuncios-box .precoanuncio input{
    margin: 10px 0 12px 0;
    height: 45px;
    width: 90%;
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 17px;
}

.anuncios .anuncios-box .fotoanuncio{
    width: calc(100% / 2 - 20px);
}

.anuncios-box .fotoanuncio .p{
    text-align: left;
    font-size: 20px;
}

.anuncios-box .fotoanuncio .arquivo {
    display: none;
}

.anuncios-box .fotoanuncio .file{
    margin: 10px 0 12px 0;
    height: 45px;
    width: 90%;
    outline: none;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 17px;
}

.anuncios-box .fotoanuncio .btn{
    cursor: pointer;
    background-color: black;
    border: none;
    box-sizing: border-box;
    padding: 2px 10px;
    color: #FFF;
    height: 32px;
    font-size: 15px;
    vertical-align: middle;
}

.anuncios-box form textarea{
    height: 150px;
    margin: 10px 0 12px 0;
    width: 690px;
    resize: none;
    outline: none;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    padding: 10px 10px 0 10px;
}

.anuncios-box .descricaoanuncio p{
    text-align: left;
    margin-top: 5px;
    font-size: 20px;
}

.anuncios .anuncios-box .btn-anunciar{
    display: flex;
    justify-content: center;
    text-align: center;
}

.anuncios-box .btn-anunciar input{
    color: white;
    width: 349px;
    height: 45px;
    border-radius: 25px;
    font-size: 20px;
    margin-top: 20px;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-weight: 600;
    border: none;
    padding-left: none;
    cursor: pointer;
}

/* Aqui termina a parte do Perfil */

/* Aqui começa a parte de produtos */

.produtos{
    height: 100%;
    margin: 100px 30px 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;   
    flex-wrap: wrap;
}

.produtos .product-card{
    max-width: 250px;
    border-radius: 25px;
    margin-bottom: 100px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 20px 30px 30px 30px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background: white;
    color:black;
    overflow: hidden;
}

.product-card .produto-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card .produto-logo img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.product-card .produto-logo i{
    font-size: 27px;
    color: #707070;
    transition: all ease 0.3s;
    cursor: pointer;
}

.product-card .produto-logo i:hover{
    color: #333;
}

.product-card .imagem-produto {
    position: relative;
    height: 210px;
}

.product-card .imagem-produto img{
    position: absolute;
    left: 20px;
    height: 200px;
    width: 200px;
    object-fit: cover;

}

.product-card .produto-detalhes .produto-nome{
    font-size: 24px;
    font-weight: 600;
    color: black;
}

.product-card .produto-detalhes p{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: 400;
    color: #333;
}

.product-card .produto-detalhes .estrelas {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    pointer-events: none;
}

.estrelas .bx-star{
    color: black;
}

.produto-detalhes .estrelas i:hover{
    background-color: black;
}

.product-card .preco-div{
    display: flex;
    flex-direction: column;
}

.product-card .preco-div .preco-nun{
    margin-top: 5px;
    font-size: 22px;
    text-align: left;
    font-weight: 600;
}

.product-card .btn-addcarrinho{
   position: relative;
   margin-top: 25px;
   height: 50px;
   width: 100%;
   background: red;
   border-radius: 20px;
   border: none;
   outline: none;
   overflow: hidden;
}

.btn-addcarrinho button{
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.product-card .btn-addcarrinho .button-layey{
    position: absolute;
    height: 100%;
    left: -100%;
    width: 300%;
    background-image: linear-gradient(1355deg, #9708CC,#43CBFF,#9708CC,#43CBFF );
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.product-card .btn-addcarrinho:hover .button-layey{
    left: 0;
}

.paginas p{
    display: flex;
    vertical-align: middle;
    justify-content:center;
    align-items: center;
}

.paginas a {
    color:white;
    margin: 0 5px 0 5px;
}

.paginas i{
    font-size:40px;
}

.filtro-produtos form input::placeholder{
    color: black;
}

.produto-container{
    display:flex;  
    background-color: rgba(255,255,255,0.3);;
    margin: auto;
    min-height: 30px;
    width: fit-content;
    border-radius: 10px;
}

.produto-container .info-produtos-container{
    color:white;
    font-size:large;
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    flex:50%;
}

.produto-container .info-produtos-container .img-produtro-container{
    background: transparent;
    margin: 20px 0px 20px 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1px;
}

.produto-container .info-produtos-container .img-produtro-container img{
    margin: 20px 20px 20px 20px;
    background-color: black;
    border-radius: 10px;
}

.produto-container .info-produtos-container .text-produtos-container{
    flex-wrap: wrap;
}

.produto-container .info-produtos-container .text-produtos-subcontainer{
    width: 50%;
    margin: 20px 10px 10px 20px;
    font-size: 20px;
}

.produto-container .info-produtos-container .text-produtos-subcontainer-preco{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}

.produto-container .info-produtos-container .text-produtos-subcontainer-title{
    font-size: xx-large;
}

.produto-container .text-produtos-container .btn-comprar-subcontainer{
    position: relative;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    overflow: hidden;
}

.text-produtos-container .btn-comprar-subcontainer button{
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.text-produtos-container .btn-comprar-subcontainer .btn-comprar{
    position: absolute;
    height: 100%;
    left: -100%;
    width: 300%;
    background-image: linear-gradient(1355deg, #0cbaba, #380036,#7f5a83, #0d324d);
    transition: all 0.3s ease;
    border: none;
    outline: none;
}

.text-produtos-container .btn-comprar-subcontainer:hover .btn-comprar{
    left: 0px;
}

.produto-container .info-fornecedor-container{
    display: flex;
    justify-content: left;
}

.produtos-relacinados{
    background-color: white;
}