@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.noselect {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    /*font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;*/
    box-sizing: border-box;
    background-image: linear-gradient(to right, #022150 ,#5e00b5);
    font-family: 'Ubuntu', sans-serif;
}

ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}



/* Aqui começa o Header */

header{    
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #160b38;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

nav .navbar{
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    align-content:stretch;
    padding: 0 50px;
}

nav .navbar .logo {
    display: flex;
    flex:30%;
}

nav .navbar .logo a{
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

nav .navbar .nav-links{
    height: 100%;
    line-height: 70px;
}

fieldset {
    width:min-content;
    display: inline-block;
}


.ender {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex:30%;
    align-items: center;
}

.pre-ender {
    display: flex;
    flex: 100%;
    justify-content: center;
}

nav .navbar .nav-links .links{
    display: flex;

}

nav .navbar .nav-links .home2{
   font-size: 20px;
}

nav .navbar .nav-links .links li{
   position: relative; 
   display: flex;
   align-items: center;
   padding: 0 14px;
   list-style: none;
    
}
nav .navbar .nav-links .links li a{
    color: white;
    white-space: nowrap;
    text-decoration: none;
}

.menuprincipal .nav-links .dropdown{
    position: relative;
}

.dropdown .dropdown-menu{
    position: absolute;
    background-color: #310e68;
    background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
    width: fit-content;
    height: fit-content;
    top: 50px;
    padding: 0px 20px 0px 20px;
    background-color: black;
    border-radius:  10px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, .6);
    opacity: 0;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown .dropdown-menu .links-dropdown{
    font-size: 20px;
}

.dropdown button{
    border:none;
    background-color: transparent;
    display: flex;
    color: white;
}

.dropdown button img{
    width: 45px;
    height: 45px;
}

.nav-links .dropdown > .links-dropdown:focus + .dropdown-menu{
    opacity: 1;
}

.aa {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    float: right;
}

.navbar .nav-links .links .submenuprincipal{
    position: absolute;
    left: 0;
    background: #004395;
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    display: none;
    
}

.navbar .nav-links .links .submenuprincipal li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.25);
}

.navbar .nav-links .links .perfilsubmenu li a{
    color: white;
    cursor:pointer;
    font-size: 15px;
    font: 500;
}

.navbar .nav-links .perfil-li:hover .submenuprincipal {
    display: flex;
    z-index: 10;
}

.bx-cart{
    font-weight: 50;
    color: white;
    font-size: 45px;
}
.bx-user-circle{
    color: white;
    font-size: 45px;
}

.navbar .search-box{
    position: relative;
    height: 40px;
    width: 40px;
}

.navbar .search-box .bx-search{
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 45px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 0 14px;

}

.navbar .search-box .input-box{
    border-color: rgba(0,0,0,0.3);
    border-width:medium;
    border-style: solid;
    box-shadow: 5px 5px 5px black;
    height: 60px;
    width: 300px;
    background-color: #004395;
    position: absolute;
    top: 65px;
    right: calc(100% - 45px);
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.navbar  .input-box.showInput{
    opacity: 1;
    pointer-events: auto;
    top: 65px;
    z-index: 1000;
}

.navbar .search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    background-color: #004395;
    width: 20px;
    right: 10px;
    top: -6px;
    transform: rotate(45deg); 
}

.navbar .search-box .input-box input{
    position: absolute;
    width: 250px;
    height: 35px;
    z-index: 98;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
}


.submenu{
    top: 70px;
    width: 100%;
    height: 55px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    background-color: rgba(39, 91, 214, 0.3);
}

.submenu .nav-links .links .submenuprincipal{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #004395;
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.35);
}

.submenu .nav-links .links .submenuprincipal li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.25);
}

.submenu .nav-links .links .perfilsubmenu li a{
    color: white;
    cursor:pointer;
    font-size: 15px;
    font: 500;
}

.submenu .nav-links .links li:hover .perfilsubmenu{
    display: block;
    justify-content: center;
    z-index: 50;
}

.submenu .nav-links{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}


.bx-up-arrow-alt{
    color: white;
    margin-left: 4px;
}
.submenu .navbar .nav-links .links li:hover .assinaturasarrow,
.submenu .navbar .nav-links .links li:hover .skinsitensarrow,
.submenu .navbar .nav-links .links li:hover .contasarrow,
.submenu .navbar .nav-links .links li:hover .jogosarrow{
    transform: rotate(180deg);
}

/* Aqui termina o Header */

.carrinho-wrapper{
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 1;
}

.carrinho-wrapper .carrinho{
    background-color: rgba(145, 141, 141, 0.5);
    padding: 7px;
    border-radius: 15px;
    width: min-content;
    margin-top: 0.7em;
}

.carrinho-wrapper .dados-carrinho{
    background-color: white;
    border-radius: 15px;
    display: none;
    width: 350px;
    height: 370px;
    padding: 20px;
    display: flex;
    font-size: 18px;
    font-weight: 600;
}

.div-carrinho-nome-produto{
   min-width: 350px;
   margin-bottom: 7px;
}

.carrinho-wrapper .dados-carrinho #lista-carrinho{
    overflow-y: scroll;
    max-height: 270px;

}

.carrinho-wrapper .dados-carrinho .close{
   margin-bottom: 5px;
   width: min-content;
}

.carrinho-wrapper .dados-carrinho::before{
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    color: transparent;
    border: 10px solid black;
    border-color: white transparent transparent;
    top: 410px;
    margin-left: 0px;
}

.carrinho-wrapper .text-dados-carrinho .precocarrinho-linkcarrinho{
   margin-bottom: 5px;
}

.carrinho-wrapper .dados-carrinho .preco-total{
    font-size: 20px;
    margin-top: 15px;
    color: rgb(73, 73, 73);
}

.carrinho-wrapper .text-dados-carrinho .link-carrinho{
    font-size: 20px;
    margin-top: 15px;
    color: rgb(73, 73, 73);
    cursor: pointer;
}

.carrinho-wrapper .text-dados-carrinho .link-carrinho:hover{
   color: black;
}

.carrinho-wrapper .count-produto{
    display: flex;
    justify-content: center;
    position: absolute;
    right: -0.5em;
    padding: 6px;
    background-color: red;
    height: 15px;
    width: 15px;
    color: white;
    font-size: 0.9em;
    border-radius: 20px;
}


/* Aqui começa a parte do rodape */

footer{
    background-color: rgb(88, 25, 204);
    margin-top: 150px;
}

footer .social-geral-footer{
    display: flex;
    justify-content: center;
}

footer .social-geral-footer img{
    width: 45px;
    height: 45px;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 20px;
}

footer .links-geral-footer{
    display: flex;
    justify-content: center;
}

footer .links-geral-footer a{
    color: white;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}

footer .creditos-footer{
    display: flex;
    justify-content: center;
}

footer .creditos-footer p{
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
    opacity: 0.5;
    color: white;
    padding-bottom: 10px;
}

/* Aqui termina a parte do rodape */
